.table td {
  height: 50px;
  width: 50%;
  vertical-align: middle;
}

@keyframes flash-red {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.flash-red {
  animation-name: flash-red;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes flash-green {
  0% {
    color: white;
  }
  50% {
    color: green;
  }
  100% {
    color: white;
  }
}

.flash-green {
  animation-name: flash-green;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
